---
layout: default
---

<div class="tags">
    <h2 class="tags-title">标签</h2>

    {% for tag in site.tags %}
    {% assign t = tag | first %}
    {% assign posts = tag | last %}

    <h4><a name="{{t | downcase | replace:" ","-" }}"></a><a class="internal" href="/tagged/#{{t | downcase | replace:" ","-" }}">{{ t | downcase }} ({{ tag | last | size }})</a></h4>

    <ul>
        {% for post in posts %}
        {% if post.tags contains t %}
        <li>
            <a href="{{ post.url }}">{{ post.title }}</a>
            <span class="date">{{ post.date | date: "%B %-d, %Y" }}</span>
        </li>
        {% endif %}
        {% endfor %}
    </ul>
    <hr>
    {% endfor %}

    <div class="tags-wrapper">
            <ul class="tag-list">
                {% for tag in site.tags %}
                {% assign t = tag | first %}
                {% assign posts = tag | last %}
                <li class="tag-list-item">
                    <a class="tag-list-link" href="/tags/Bar/" one-link-mark="yes">{{ t | downcase }}</a>
                    <span class="tag-list-count">{{ tag | last | size }}</span>
                </li>
                {% endfor %}
            </ul>
    </div>
</div>

