---
layout: default
---



<div class="tags">
    <div class="tags-wrapper">
        <ul class="tag-list">
            {% for tag in site.tags %}
            <li class="tag-list-item">
                <a class="tag-list-link" href="#" onclick="TagListShow('{{ tag[0] }}')" one-link-mark="yes"> {{ tag[0] }}</a>
                <span class="tag-list-count">{{ tag | last | size }}</span>
            </li>
            {% endfor %}
        </ul>
    </div>
</div>


<div class="archive sr-only">
    {% for tag in site.tags %}
        <div class="{{ tag[0] }} sr-only">
            <h2 class="year">{{ tag[0] }} ({{ tag | last | size }})</h2>
            {% for post in tag[1] %}
            <div class="archive_item">
                <span class="date">{{ post.date | date: "%Y-%m-%d" }}</span>
                <a class="title" href="{{ post.url }}" one-link-mark="yes">{{ post.title }}</a>
            </div>
            {% endfor %}
            <hr>
        </div>
    {% endfor %}
</div>

