---
layout: default
---


<section class="banner" style="height: 150px;">
    <div class="headintro">
        <p class="title" style="margin-top: 20px;color: #d44950;font-size: 2rem;text-shadow: 1px 1px #efefef, 3px 3px #ffc0cb;"> Biu~  自己收集一些自己喜欢动漫。</p>
        <p class="subtitle" style="font-size: 17px;margin-top: 10px;color: #666;">因为很喜欢这些可爱的人以及这些感人的故事，自己魔改加东拼西凑剪出来,hhhhhh....... </p>
    </div>
</section>

{% for post in site.posts %}
{% if  post.tags[0]=="视频" %}
<div class="col-sm-6 col-md-4">
    <div class="thumbnail  ">
        <img src="{{ post.img }}" alt="..." style="width: 300px;height: 200px;">
        <div class="caption">
            <h3><a class="post-title-link " href="{{ post.url }}">{{ post.title }}</a></h3>
            <p> {{ post.description }}</p>
        </div>
    </div>
</div>
 {% endif %}
{% endfor %}
