<section class="footer">
    <footer>
        <div class = "footer_div">  
           <p class="copyright text-muted">
            你只管善良，上天自有衡量。你只管努力，余下的交给天意。
            </p>
        	<div align="right">
    			<link rel="stylesheet" href="//cdn.bootcss.com/font-awesome/4.3.0/css/font-awesome.min.css">

          <!-- 访问统计 -->
          <span id="busuanzi_container_site_pv">
            本站总访问量
            <span id="busuanzi_value_site_pv"></span>次
          </span>

        </div>
        <div>
    </footer>
</section>
