<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport">
    <link rel="icon" href="{{ BASE_PATH }}/lib/images/favicon.ico">
    <title>{{site.basictitle}}</title>
    <link rel="stylesheet" href="{{ BASE_PATH }}/lib/css/styles.css">
    <script src="{{ BASE_PATH }}/lib/js/jquery.js"></script>
    <link rel="stylesheet" href="{{ BASE_PATH }}/lib/bootstrap/css/bootstrap.min.css">
    <script src="{{ BASE_PATH }}/lib/bootstrap/js/bootstrap.js"></script>
    <script src="{{ BASE_PATH }}/lib/js/tag.js"></script>
    <!-- 哔哩哔哩 -->
    <script type="text/javascript" src="{{ BASE_PATH }}/lib/js/bw-loader-415.6.31.js"></script>
    <!-- 搜索 -->
    <script src="{{ BASE_PATH }}/lib/js/bootstrap3-typeahead.min.js"></script>
    <script src="{{ BASE_PATH }}/lib/js/cb-search.js"></script>
    <script src="{{ BASE_PATH }}/lib/js/stopExecutionOnTimeout.js"></script>

    <!-- Valine评论板 -->
<!--    <script src='//unpkg.com/valine/dist/Valine.min.js'></script>-->

</head>
