<div class="footer">
    <div class="footer-wrapper">
        <div class="copyright">
            <span class="author"><a href="https://beian.miit.gov.cn"  target="_blank" >{{site.description}}</a></span>
            <br>
            <span class="author"> 本网站由<a href="https://www.upyun.com/?utm_source=lianmeng&utm_medium=referral"> <img width="60px" src="https://cdn.jsdelivr.net/gh/tianxincc/PicGo@main/Anime/202203282309196.png" alt="logo"></a> 提供CDN加速/云存储服务</span>
<!--            <span id="htmer_time"></span>-->
        </div>
    </div>
</div>

<!--<div class="cb-search-tool" style="position: fixed; top: 0px ; bottom: 0px; left: 0px; right:  0px;-->
<!--      opacity: 0.95; background-color: #111111; z-index: 9999; display: none;">-->
<!--    <input type="text" class="form-control cb-search-content" id="cb-search-content" style="position: fixed; top: 60px" placeholder="文章标题 日期 标签" >-->
<!--    <div style="position: fixed; top: 16px; right: 16px;">-->
<!--        <img src="/search/img/cb-close.png"  id="cb-close-btn"/>-->
<!--    </div>-->
<!--</div>-->
<!--<div style="position: fixed; right: 16px; bottom: 20px;">-->
<!--    <img src="/search/img/cb-search.png"  id="cb-search-btn"  title="双击ctrl试一下"/>-->
<!--</div>-->
