<div class="footer">
    <div class="footer-wrapper">
        <div class="copyright">
            <span class="author"><a href="https://beian.miit.gov.cn"  target="_blank" >{{site.description}}</a></span>
            <br>
            <span class="author"> 本网站由<a href="https://www.upyun.com/?utm_source=lianmeng&utm_medium=referral"> <img width="60px" src="https://cdn.jsdelivr.net/gh/tianxincc/PicGo@main/Anime/202203282309196.png" alt="logo"></a> 提供CDN加速/云存储服务</span>
            <a href="javascript:void(0);" class="cd-top sr-only" ><span class="glyphicon glyphicon-plane"></span></a>
        </div>
    </div>
</div>
