---
layout: default
---

<section class="posts">
    <article class="post">
        <div class="post-meta">
            <span class="post-time">{{ page.date |  date: "%Y-%m-%d" }}</span>
        </div>
        <div class="post-title">
            <a class="post-title-link" href="#">
                {{ page.title }}
            </a>
            <div class="post-tags">
            </div>
        </div>
        <div class="post-content">
            {{ content }}
        </div>
    </article>
</section>

